name: Build ESP Serial Monitor with Qt Action

on:
  workflow_dispatch:
  push:
    tags:             # Автоматический запуск при тегах
      - 'v*'          # v1.0, v2.0.0 и т.д.

defaults:
  run:
    shell: cmd

env:
  SOURCE_DIR:     ${{ github.workspace }}
  QT_VERSION:     5.15.2
  MINGW_VERSION:  "win64_mingw81"
  MINGW_PATH:     "mingw81_64"
  TARGET_DIR:     "ESPSerialMonitor-Win64-Portable"
  APP_NAME:       "ESPSerialMonitor"

jobs:
  build:
    runs-on:  windows-2019

    steps:
      - name: (1) Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: (2) Get all tags for correct version determination
        working-directory:  ${{ github.workspace }}
        run: |
          git fetch --all --tags -f
      - name: (3) Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version:      ${{ env.QT_VERSION }}
          host:         windows
          target:       desktop
          arch:         ${{ env.MINGW_VERSION }}
          dir:          'C:\Qt'
          modules:      ''
          install-deps: false
          setup-python: false
          cache:        true
          cached:       'qt-${{ env.QT_VERSION }}-mingw81-windows'

      - name: (4) Check QMake and MinGW versions
        run: |
          echo "Qt qmake:"
          qmake --version
          echo "MinGW g++:"
          g++ --version

      - name: (5) Build project
        run: |
          cd "%GITHUB_WORKSPACE%"
          
          echo Проверяем структуру проекта:
          dir /b
          
          echo Запускаем qmake:
          qmake ESPSerialMonitor.pro
          
          echo Компилируем с mingw32-make:
          mingw32-make -j4
          
          echo Проверяем результат сборки:
          if exist release\ESPSerialMonitor.exe (
              echo Исполняемый файл создан успешно
              dir /b release\
          ) else (
              echo Ошибка: исполняемый файл не найден
              exit 1
          )

      - name: (6) Prepare portable package
        run: |
          cd "%GITHUB_WORKSPACE%"
          mkdir ${{ env.TARGET_DIR }}
          xcopy release\ESPSerialMonitor.exe ${{ env.TARGET_DIR }} /Y
          xcopy utils ${{ env.TARGET_DIR }}\utils /E /I /Y
          
          echo Run windeployqt:
          windeployqt ${{ env.TARGET_DIR }}\ESPSerialMonitor.exe

          echo Содержимое каталога сборки:
          dir /b ${{ env.TARGET_DIR }}

      - name: (7) Prepare release name
        run:  |
            echo Time: %TIME%
            echo Date: %DATE%
            
            :: Разделяем время и дату
            for /f "tokens=1-3 delims=: " %%a in ("%TIME%") do (
                set HH=%%a
                set MM=%%b
                set SS_AND_REST=%%c
            )
            
            :: Теперь разбираем оставшуюся часть
            for /f "tokens=1-4 delims=/. " %%a in ("%DATE%") do (
                set DW=%%a
                set MN=%%b
                set DD=%%c
                set YR=%%d
            )
            
            :: Убираем ведущие пробелы у часов
            set HH=%HH: =0%
            
            :: Создаем имя файла с timestamp
            set BUILD_TIMESTAMP=%YR%%MN%%DD%_%HH%%MM%
            set ARTIFACT_NAME=%APP_NAME%-Win64-portable-%BUILD_TIMESTAMP%
            echo Artifact name: %ARTIFACT_NAME%
            
            echo BUILD_TIMESTAMP=%BUILD_TIMESTAMP% >> %GITHUB_ENV%
            echo ARTIFACT_NAME=%ARTIFACT_NAME% >> %GITHUB_ENV%

      - name: (8) Zip build
        if: startsWith(github.ref, 'refs/tags/')
        run:  |
              set ZIP_FILE=${{ env.APP_NAME }}-${{ github.ref_name }}-Win64-portable.zip
              echo ZIP filename: %ZIP_FILE%
              echo ZIP_FILE=%ZIP_FILE% >> %GITHUB_ENV%
              
              cd "%GITHUB_WORKSPACE%"
              7z a %ZIP_FILE% ${{ github.workspace }}\${{ env.TARGET_DIR }}\* -r 
              
              echo "Путь к архиву сборки:"
              echo "%cd%\%ZIP_FILE%"

      - name: (9) Save build artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ github.workspace }}\${{ env.TARGET_DIR }}           
                
      - name: (10) Create GitHub Release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ZIP_FILE }}
          name: "${{ env.APP_NAME }}-${{ github.ref_name }}"
          tag_name: ${{ github.ref_name }}
